/**
 * Main Styles for Clinic Scheduling App
 *
 * Author: 	Maria D. Kelly (maria.d.kelly@gmail.com)
 * Date:	July 11, 2015
 */

body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}

form label {
	display: block;
}

input[type=text],
input[type=password],
input[type=email] {
	display: block;
	width: 60%;
	margin-bottom: 10px;
}

label[for=remember_me] {
	display: inline;
}

button[type=submit],
input[type=submit] {
	display: block;
	margin-top: 15px;
}

.fos-user-content form,
form[name=appbundle_user] {
	width: 50%;
	min-width: 500px;
}

label.required:after {
	content: '*';
	color: #d30000;
}

.user-profile {
	max-width: 500px;
	border: 1px solid #ccc;
}

