{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-xs btn-primary pull-right" href="{{ path('admin_user') }}">
        &laquo; Return to View All Users
    </a>	
    <h1>Create a New User</h1>

    {{ form(form) }}

{% endblock %}
